{% extends "board_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bet Above{% endblock %}

{% block page_content %}
{% for game in games %}
  <a href="{{ game['link'] }}">
  <div style="display:inline-block;" class="panel panel-default">
    <div class="panel-heading">{{ game['time'] }} Today</div>
    <div class="panel-body">
      <table>
      <tbody>
      <tr><td>{{ abbreviations[game['abrs'][0]] }}</td> <td>    </td> <td>{{ game['records'][0] }}</td></tr>
      <tr><td>{{ abbreviations[game['abrs'][1]] }}</td> <td>    </td> <td>{{ game['records'][1] }}</td></tr>
      </tbody>
      </table>
    </div>
  </div>
  </a>
  <div style="display:inline-block;">
  </div>
{% endfor %}
{% endblock %}
